.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 260px;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 29px;
  height: 29px;
}

.score-board {
  margin: 50px;
}
